form {
  margin-top: 26px;
}

.search-button {
  margin-left: 32px;
}

.city-input {
  margin-left: 38px;
  opacity: 0.6;
}

.city {
  margin-top: 16px;
  margin-left: 50px;
  font-size: 30px;
}

.date {
  margin-top: 20px;
  margin-left: 45px;
  font-size: 19px;
}

.weather-temperature {
  margin-left: 60px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 50px;
  margin-left: -16px;
}

.weather-temperature .units {
  position: relative;
  font-size: 12px;
  top: -28px;
}

.icon {
  margin-top: -30px;
}

.fahrenheit,
.celsius {
  text-decoration: none;
}

.conditions {
  opacity: 0.7;
  margin-left: 15px;
  margin-right: 8px;
}

li {
  list-style: none;
  font-size: 13px;
}

li::first-letter {
  text-transform: capitalize;
}

.loader {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}
